apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mock-identity-provider.fullname" . }}-appsettings
  labels:
    {{- include "mock-identity-provider.labels" . | nindent 4 }}
data:
  appsettings.json: |
    {
      "Logging": {
        "LogLevel": {
          "Default": "Information",
          "Microsoft.AspNetCore": "Warning"
        }
      },
      "AllowedHosts": "*",
      "Issuer": {{ .Values.issuer | quote }},
      "AllowAuthorizationCodeFlow": {{ .Values.security.allowAuthorizationCodeFlow }},
      "AllowHybridFlow": {{ .Values.security.allowHybridFlow }},
      "AllowImplicitFlow": {{ .Values.security.allowImplicitFlow }},
      "AllowRefreshTokenFlow": {{ .Values.security.allowRefreshTokenFlow }},
      "AllowPasswordFlow": {{ .Values.security.allowPasswordFlow }},
      "AllowNoneFlow": {{ .Values.security.allowNoneFlow }},
      "Users": {{ .Values.users | toJson }}
    }